<div class="app-component">
  <div class="btn-group">
    <!-- <div>
      <a routerLink="user-details" class="nav-button">Player Details</a>
    </div>
    <div>
      <a routerLink="cricket" class="nav-button">Cricket</a>
    </div>
    <div>
      <a routerLink="football" class="nav-button">Football</a>
    </div> -->

    <ul>
      <li><a routerLink="user-details" routerLinkActive class="active">Player's Details</a></li>
      <li><a routerLink="cricket" routerLinkActive>Cricket</a></li>
      <li><a routerLink="football" routerLinkActive>Football</a></li>
    </ul>
  </div>


  

<!-- 
  <div class="radio-button" *ngIf="false">
    <h4>Choose background color and hover your mouse on below div.</h4>
    <input type="radio" name="colors" (click)="color= 'yellow' "> Yellow
    <input type="radio" name="colors" (click)="color= 'cyan' "> Cyan
    <input type="radio" name="colors" (click)="color= 'pink' "> Pink
    <input type="radio" name="colors" (click)="color= 'null' "> No Color
  </div>


  <div class="children" *ngIf="false">
    <h4 style="text-align: center; margin-top: 0;">Child Components</h4>
    <div class="first" [appHighlight]="color" defaultColor="indigo">
      <app-first></app-first>
    </div>

    <div class="second" [appHighlight]="color" defaultColor="orange" *ngIf="false">
      <app-second></app-second>
    </div>
  </div> -->
  <router-outlet></router-outlet>
</div>

