<div class="app-component">
  <div>
    <h1 class="header">app component (root component)</h1>
  </div>


  <div class="radio-button">
    <h4>choose background color and hover your mouse on below div.</h4>
    <input type="radio" name="colors" (click)="color= 'yellow' "> Yellow
    <input type="radio" name="colors" (click)="color= 'cyan' "> Cyan
    <input type="radio" name="colors" (click)="color= 'pink' "> Pink
  </div>


  <div class="children">
    <h4 style="text-align: center;">Child Components</h4>
    <div class="first" [appHighlight]="color" defaultColor="indigo">
      <app-first></app-first>
    </div>

    <div class="second" [appHighlight]="color" defaultColor="orange">
      <app-second></app-second>
    </div>
  </div>
</div>