<div *ngIf="isDataAvailable; else loader" class="table-data">
    <table>
        <tr>
            <th>Player's Id</th>
            <th>Player's Title</th>
            <th>Player's Description</th>
        </tr>
        <tr *ngFor="let user of userDetails">
            
                <td>{{user.id}}</td>
                <td>{{user.title.length>25 ? user.title.slice(0,25)+'...': user.title}}</td>
                <td>{{user.body.length>80 ? user.body.slice(0,80)+'...': user.body}}</td>
         

        </tr>
    </table>
</div>

<div>
    <div *ngFor="let userProf userProfileData">
        {{userProf.thumbnailUrl}}
        <img [src]="userProf.thumbnailUrl" >
    </div>
</div>


<ng-template #loader>
    <div class="loader">
        <div class="lds-ripple"><div></div><div></div></div>
    </div>
</ng-template>